.nf-form-cont .nf-form-content {
  padding: 0;
  max-width: none;
}
.nf-form-cont .nf-field-description a {
  color: inherit;
  text-decoration: underline;
}
.nf-form-cont .nf-after-form-content .nf-error-msg {
  font-size: 30px;
  text-align: center;
}
.nf-form-cont .nf-form-fields-required {
  font-size: 20px;
}
