.nf-form-cont {
	.nf-form-content {
		padding: 0;
		max-width: none;
	}

	.nf-field-description {
		a {
			color: inherit;
			text-decoration: underline;
		}
	}

	.nf-after-form-content .nf-error-msg {
		font-size: $h3-font-size;
		text-align: center;
	}

	.nf-form-fields-required {
		font-size: $h4-font-size;
	}
}
